.experiencia {
  max-width: 1200px;
  padding: 40px 20px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 100px;
}

.experiencia .subtitulo {
  color: #e0e0e0;
}

.experiencia-descricao {
  line-height: 1.33;
  max-width: 40ch;
  margin-bottom: 60px;
  color: #525252;
}

.experiencia-descricao strong {
  color: #141414;
}

.tecnologia-lista{
  display:grid;
  grid-template-columns: repeat(5, 1fr);
  gap:10px;
}
.tecnologia-lista img{
  width: 68px;
  height: 68px;
}
.tecnologia-lista li {
  margin: 15px;
}

@media (max-width: 1200px) {
  .experiencia .subtitulo {
    font-size: 6.5rem ;
  }
@media (max-width: 800px) {
  .experiencia {
    grid-template-columns: 1fr;
    gap: 40px;
  }
  .experiencia .subtitulo {
    color: #141414;
    font-size: 3.0rem;
  }

}
@media (max-width: 576px) {
  .experiencia .subtitulo{
    font-size: 3.0rem;
  }
  .tecnologia-lista{
    gap:10px;
  }
  .tecnologia-lista img{
    width: 48px;
    height: 48px;
  }
  .tecnologia-lista li {
    margin: 0px;
  }
}